### To clean the repo, run the following commands in terminal:
# git rm -r --cached . 
# (git rm -r --cached <file_or_directory>)
# git add .
# git commit -m "Clean repo using .gitignore"
# git push

img/

__pycache__/
*.pyc